.header-content {
  background: url("/images/headers/exhibition.jpg") #547aa5;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-text {
  background: #bb4357;
  padding-top: 0;
}

/* =======================
      Media Queries 
==========================*/

@media (min-width: 768px) {
  .header-text {
    margin-left: 5em;
  }
}
