.header-content {
  background: url("/images/headers/getinvolved.jpg") #547aa5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-text {
  background: #843122;
}

/* =======================
      Media Queries 
==========================*/

@media (min-width: 600px) {
  .header-text {
    margin-left: 4em;
  }
}
